<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>
<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="wrapper">
        <% include ../partials/sidebar %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="pt-4">
                <div class="container">
                    <h1 class="mb-4"><%=product.name%> <span><a class="btn btn-info btn-icon-split updateInformation"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span
                                    class="text-white text">Lưu Thay
                                    Đổi</span></a></span></h1>
                                    <h5 class="mb-4"><%=formatMoney(product.price,0)%></h5>
                    <div class="card">

                        <div class="card-body">
                            <div id="toolbar"></div>
                            <div id="editor" contentId="<%=product._id%>"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark align-items-start sidebar-dark bg-gradient-primary p-3" id="relational">
            <div class="container-fluid d-flex flex-column p-0">
                <div style="width: 300px;">
                    <div class="row mb-3">
                        <%for (var i = 0; i < product.images.length; i++) {%>
                        <div class="col-3">
                            <img class="w-100 mb-3" src="<%=product.images[i]%>" />
                        </div>
                        <%
                    }%>
                    </div>

                    <form action="/ad/editProduct/updateImage/<%=product._id%>" method="post"
                        enctype="multipart/form-data">
                        <input type="file" class="mb-3" name="upload" required multiple>
                        <button type="submit" class="btn btn-success w-100 mb-3">Cập nhật ảnh trên</button>
                    </form>
                    <%
                    attributes.forEach(attr => {
                        %>
                    <div class="dropdown">
                        <p class="text-uppercase nav-heading"><%=attr.type%></p>
                        <div class="mb-3">

                            <%attr.values.forEach(value => {
                            %>
                            <div class="badge badge-primary text-wrap">
                                <%=value.name%> <span class="removeAttribute ml-2" name="<%=value.name%>"
                                    type="<%=value.type%>"><i class="fas fa-times"></i></span>
                            </div>
                            <%
                        })%>
                        </div>


                        <input class="bg-light form-control border-0 w-100 p-2 mb-3 dropdown-toggle attribute-search"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="<%=attr.type%>"
                            boxId="<%=attr.type.replace(/ /g, '-')%>" placeholder="Tìm kiếm <%=attr.type%>">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                            id="box-<%=attr.type.replace(/ /g, '-')%>">
                        </div>
                    </div>
                    <%
                    })
                    %>


                </div>
            </div>
        </nav><a class="btn btn-success btn-circle ml-1" role="button" id="relationalButton"><i
                class="fas fa-bars text-white"></i></a>
    </div>
    <% include ../partials/script%>
    <script>

        var productId = window.location.pathname.slice(16)
        $(document).ready(function () {
            var controller = {
                createAttribute: function (productId, name, type) {
                    $.post('/ad/editProduct/createAttribute', {
                        name: name,
                        type: type
                    }, (data) => {
                        this.addAttribute(productId, name, type)
                    })
                },
                deleteAttribute: function (id) {
                    $.post('/ad/editProduct/deleteAttribute', {
                        id: id
                    }, (data) => {
                        $.notify("Đã gỡ " + data.name, {
                            globalPosition: "bottom left",
                            className: "warn"
                        });
                        $('.attr-item').remove()
                    })
                },
                searchAttribute: function (keyword, type, callback) {
                    $.post('/ad/editProduct/searchAttribute', {
                        keyword: keyword,
                        type: type
                    }, (data) => {
                        callback(data)
                    })
                },
                addAttribute: function (productId, name, type) {
                    $.post('/ad/editProduct/addAttribute', {
                        productId: productId,
                        name: name,
                        type: type
                    }, (data) => {
                        window.location.reload()
                    })
                },
                removeAttribute: function (productId, name, type) {
                    $.post('/ad/editProduct/removeAttribute', {
                        productId: productId,
                        name: name,
                        type: type
                    }, (data) => {
                        window.location.reload()
                    })
                },
                getInformation: function (productId, type) {
                    $.post('/ad/editProduct/getInformation', {
                        productId: productId,
                        type: type
                    }, (data) => {
                        console.log(data)
                        $.notify("Tải " + data.type, {
                            globalPosition: "bottom left",
                            className: "success"
                        });
                        quill.setContents(data.delta)
                    })
                },
                updateInformation: function (productId, type, delta) {
                    delta = JSON.stringify(delta)
                    $.post('/ad/editProduct/updateInformation', {
                        productId: productId,
                        type: type,
                        delta: delta
                    }, (data) => {
                        $.notify("Đã lưu thay đổi " + data.type, {
                            globalPosition: "bottom left",
                            className: "info"
                        });
                    })
                }
            }
            quill = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'snow'
            });
            controller.getInformation(productId, 'Mô Tả')
            $('.updateInformation').click(function () {
                controller.updateInformation(productId, 'Mô Tả', quill.getContents().ops)
            })
            $('.removeAttribute').click(function () {
                controller.removeAttribute(productId, this.getAttribute('name'), this.getAttribute('type'))
            })
            $('.attribute-search').keypress(function () {
                var box = $("#box-" + this.getAttribute('boxId'))
                var htmlAddValue =
                    `<div class="p-2 row attr-item">
                    <div class="col-10 addAttribute" name="NAME" type="TYPE">NAME</div>
                    <div class="col-2 text-danger deleteAttribute" attrid="ID"><i class="fas fa-times"></i></div>
                    </div>`
                var htmlCreateValue = '<div class="dropdown-item attr-item createAttribute" name="NAME" type="TYPE" >Thêm giá trị <b>NAME</b></div>'
                var type = this.getAttribute('type')
                controller.searchAttribute(this.value, type, data => {
                    if (data.length) {
                        $('.attr-item').remove()
                        console.log(data)
                        data.forEach(value => {
                            box.append(htmlAddValue.replace(/NAME/g, value.name).replace(/TYPE/g, value.type).replace(/ID/g, value._id))
                        })

                        $('.addAttribute').click(function () {
                            controller.addAttribute(productId, this.getAttribute('name'), this.getAttribute('type'))
                        })

                        $('.deleteAttribute').click(function () {
                            controller.deleteAttribute(this.getAttribute('attrid'))
                        })


                    } else {
                        $('.attr-item').remove()
                        var value = this.value
                        box.append(htmlCreateValue.replace(/NAME/g, value).replace(/TYPE/g, type))
                        $('.createAttribute').click(function () {
                            controller.createAttribute(productId, this.getAttribute('name'), this.getAttribute('type'))
                        })
                    }
                })

            })
        });


    </script>
</body>

</html>