<!DOCTYPE html>
<html lang="vi">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div id="wrapper">
        <% include ../partials/sidebar %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="pt-4">
                <div class="container">
                    <h1 class="mb-4"><%=post.name%> <span><a class="btn btn-info btn-icon-split updateContent"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span
                                    class="text-white text">Lưu Thay
                                    Đổi</span></a></span></h1>
                    <div class="card">

                        <div class="card-body">
                            <div id="toolbar"></div>
                            <div id="editor" contentId="<%=post._id%>"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-dark align-items-start sidebar-dark bg-gradient-primary p-3" id="relational">
            <div class="container-fluid d-flex flex-column p-0">
                <div style="width: 300px;">
                    <div class="row mb-3">
                        <%for (var i = 0; i < post.images.length; i++) {%>
                        <div class="col-3">
                            <img class="w-100 mb-3" src="<%=post.images[i]%>" />
                        </div>
                        <%
                    }%>
                    </div>

                    <form action="/ad/editPost/updateImage/<%=post._id%>" method="post" enctype="multipart/form-data">
                        <input type="file" class="mb-3" name="upload" required multiple>
                        <button type="submit" class="btn btn-success w-100 mb-3">Cập nhật ảnh trên</button>
                    </form>
                    <%
                    hashtags.forEach(hashtag => {
                        %>
                    <div class="dropdown">
                        <p class="text-uppercase nav-heading"><%=hashtag.type%></p>
                        <div class="mb-3">

                            <%hashtag.values.forEach(value => {
                            %>
                            <div class="badge badge-primary text-wrap">
                                <%=value.name%> <span class="removeHashtag ml-2" name="<%=value.name%>"
                                    type="<%=value.type%>"><i class="fas fa-times"></i></span>
                            </div>
                            <%
                        })%>
                        </div>


                        <input class="bg-light form-control border-0 w-100 p-2 mb-3 dropdown-toggle hashtag-search"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="<%=hashtag.type%>"
                            boxId="<%=hashtag.type.replace(/ /g, '-')%>" placeholder="Tìm kiếm <%=hashtag.type%>">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                            id="box-<%=hashtag.type.replace(/ /g, '-')%>">
                        </div>
                    </div>
                    <%
                    })
                    %>


                </div>
            </div>
        </nav><a class="btn btn-success btn-circle ml-1" role="button" id="relationalButton"><i
                class="fas fa-bars text-white"></i></a>
    </div>
    <% include ../partials/script%>
    <script>

        var postId = window.location.pathname.slice(13)
        $(document).ready(function () {
            var controller = {
                createHashtag: function (postId, name, type) {
                    $.post('/ad/editPost/createHashtag', {
                        name: name,
                        type: type
                    }, (data) => {
                        this.addHashtag(postId, name, type)
                    })
                },
                deleteHashtag: function (id) {
                    $.post('/ad/editPost/deleteHashtag', {
                        id: id
                    }, (data) => {
                        $.notify("Đã gỡ " + data.name, {
                            globalPosition: "bottom left",
                            className: "warn"
                        });
                        $('.attr-item').remove()
                    })
                },
                searchHashtag: function (keyword, type, callback) {
                    $.post('/ad/editPost/searchHashtag', {
                        keyword: keyword,
                        type: type
                    }, (data) => {
                        callback(data)
                    })
                },
                addHashtag: function (postId, name, type) {
                    $.post('/ad/editPost/addHashtag', {
                        postId: postId,
                        name: name,
                        type: type
                    }, (data) => {
                        window.location.reload()
                    })
                },
                removeHashtag: function (postId, name, type) {
                    $.post('/ad/editPost/removeHashtag', {
                        postId: postId,
                        name: name,
                        type: type
                    }, (data) => {
                        window.location.reload()
                    })
                },
                getContent: function (postId, type) {
                    $.post('/ad/editPost/getContent', {
                        postId: postId,
                        type: type
                    }, (data) => {
                        console.log(data)
                        $.notify("Tải " + data.type, {
                            globalPosition: "bottom left",
                            className: "success"
                        });
                        quill.setContents(data.delta)
                    })
                },
                updateContent: function (postId, type, delta, description) {
                    delta = JSON.stringify(delta)
                    $.post('/ad/editPost/updateContent', {
                        postId: postId,
                        type: type,
                        delta: delta,
                        description: description
                    }, (data) => {
                        $.notify("Đã lưu thay đổi " + data.type, {
                            globalPosition: "bottom left",
                            className: "info"
                        });
                    })
                }
            }
            quill = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'snow'
            });
            controller.getContent(postId, 'Nội Dung')
            $('.updateContent').click(function () {
                controller.updateContent(postId, 'Nội Dung', quill.getContents().ops, quill.getText())
            })
            $('.removeHashtag').click(function () {
                controller.removeHashtag(postId, this.getAttribute('name'), this.getAttribute('type'))
            })
            $('.hashtag-search').keypress(function () {
                var box = $("#box-" + this.getAttribute('boxId'))
                var htmlAddValue =
                    `<div class="p-2 row attr-item">
                    <div class="col-10 addHashtag" name="NAME" type="TYPE">NAME</div>
                    <div class="col-2 text-danger deleteHashtag" attrid="ID"><i class="fas fa-times"></i></div>
                    </div>`
                var htmlCreateValue = '<div class="dropdown-item attr-item createHashtag" name="NAME" type="TYPE" >Thêm giá trị <b>NAME</b></div>'
                var type = this.getAttribute('type')
                controller.searchHashtag(this.value, type, data => {
                    if (data.length) {
                        $('.attr-item').remove()
                        console.log(data)
                        data.forEach(value => {
                            box.append(htmlAddValue.replace(/NAME/g, value.name).replace(/TYPE/g, value.type).replace(/ID/g, value._id))
                        })

                        $('.addHashtag').click(function () {
                            controller.addHashtag(postId, this.getAttribute('name'), this.getAttribute('type'))
                        })

                        $('.deleteHashtag').click(function () {
                            controller.deleteHashtag(this.getAttribute('attrid'))
                        })


                    } else {
                        $('.attr-item').remove()
                        var value = this.value
                        box.append(htmlCreateValue.replace(/NAME/g, value).replace(/TYPE/g, type))
                        $('.createHashtag').click(function () {
                            controller.createHashtag(postId, this.getAttribute('name'), this.getAttribute('type'))
                        })
                    }
                })

            })
        });


    </script>
</body>

</html>