<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <meta name="description"
        content="huyện Thăng Bình, tỉnh Quảng Nam. Liên hệ: 0914758 179. <%=product.name%> Quảng Nam, <%=product.name%> Đà Nẵng, <%=product.name%> Nguyên Chất, <%=product.name%> Giá Rẻ" />
    <meta name="keywords"
        content="<%=product.name%> Quảng Nam, <%=product.name%> Đà Nẵng, <%=product.name%> Nguyên Chất, <%=product.name%> Giá Rẻ" />
    <title><%=product.name%></title>

</head>

<body>
    <% include ../partials/menu %>
    <main class="mt-5 pt-5">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="row">
                            <div class="col-md-6 col-lg-7"><img class="w-100" src="<%=product.images[0]%>"></div>
                            <div class="col-md-6 col-lg-5">
                                <div>
                                    <p class="textColor py-3"><%=product.name%></p>
                                    <hr>
                                    <p><%=formatMoney(product.price,0)%></p>
                                    <p class="text-success">Miễn phí ship với đơn hàng trên 1.000.000</p>
                                    <!-- <h5 class="text-secondary oldPrice">120.000</h5> -->
                                    <hr>
                                    <form action="/order" method="GET">
                                        <input required="required" style="display: none;" name="product"
                                            value="<%=product.name%>">
                                        <input required="required" style="display: none;" name="url"
                                            value="<%=product.url%>">
                                        <input required="required" style="display: none;" name="image"
                                            value="<%=product.images[0]%>">
                                        <input required="required" name="name" class="input-order" type="text"
                                            placeholder="Nhập Tên">
                                        <input required="required" name="phone" class="input-order" type="text"
                                            placeholder="Số Điện Thoại">
                                        <input required="required" name="address" class="input-order" type="text"
                                            placeholder="Địa Chỉ">
                                        <input name="quatity" class="input-order" type="number"
                                            placeholder="Số lượng (mặc định là 1)">
                                        <button class=" btn-order">Đặt Hàng</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="my-4 p-2" style="background-color: #f4f7f7;">
                            <h3 class="text-center textColor">Mô Tả Sản Phẩm</h3>
                            <div class="text-center my-4"><img style="width: 150px;" src="/assets/img/divider.png">
                            </div>
                            <div class="text-justify p-3">
                                <%-information%>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <h3 class="text-center textColor">Cam Kết Chất Lượng</h3>
                        <div class="text-center my-4"><img style="width: 150px;" src="/assets/img/divider.png"></div>
                        <ul>
                            <li>Tổ Yến Trên Đá Tự Nhiên Được Làm Sạch Thủ Công<br></li>
                            <li>Yến Sơ Chế 100% nguyên chất và làm theo loại mà khách hàng yêu cầu. Hoàn toàn không có
                                các thành phần khác.<br></li>
                        </ul>
                        <h3 class="text-center textColor">Sản Phẩm Tương Tự</h3>
                        <div class="text-center my-4"><img style="width: 150px;" src="/assets/img/divider.png"></div>
                        <div class="row">
                            <%orthes.forEach(product=>{%>
                            <div class="col-8 mx-auto my-2">
                                <a href="<%=product.url%>">
                                    <div class="shadow pb-4"><img class="w-100 mb-4" src="<%=product.images[0]%>">
                                        <h5 class="text-center textColor"><%=product.name%></h5>
                                        <p class="text-center p-0 m-0 font-weight-bold">
                                            <%=formatMoney(product.price,0)%></p>
                                        <!-- <p class="text-center text-secondary oldPrice">120.000</p> -->
                                    </div>
                                </a>
                            </div>
                            <%})%>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>