<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <meta name="description" content="<%=post.description%>" />
    <meta name="keywords" content="<%=post.url%>" />
    <title><%=post.name%></title>



</head>

<body>
    <% include ../partials/menu %>
    <main class="mt-5 pt-5">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="row">
                            <div class="col-md-6 col-lg-7"><img class="w-100" src="<%=post.images[0]%>"></div>
                            <div class="col-md-6 col-lg-5 d-flex align-items-center">
                                <div>
                                    <h3 class="textColor"><%=post.name%></h3>
                                    <hr>
                                    <p><%=post.description%></p>
                                </div>
                            </div>
                        </div>
                        <div class="my-4 p-2">
                            <div class="text-center my-4"><img style="width: 150px;" src="/assets/img/divider.png">
                            </div>
                        </div>
                        <div class="text-justify">
                            <%-content%>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4">
                        <h3 class="text-center textColor">Danh Mục</h3>
                        <div class="text-center my-4"><img style="width: 150px;" src="/assets/img/divider.png"></div>
                        <% include ../partials/category %>
                        <h3 class="text-center textColor">Bài Viết Khác</h3>
                        <div class="text-center my-4"><img style="width: 150px;" src="/assets/img/divider.png"></div>
                        <%orthes.forEach(post =>{%>
                        <a href="<%=post.url%>">
                            <div class="mb-3"
                                style="background-image: url(<%=post.images[0]%>);background-size: cover;">
                                <div class="p-5 text-justify" style="background-color: rgba(0,0,0,0.5);">
                                    <h4 class="text-white font-weight-bold"><%=post.name%></h4>
                                    <p class="text-white w-100"><%=post.description%></p>
                                </div>
                            </div>
                        </a>
                        <%})%>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script %>
</body>

</html>
