<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>
    <main class="mainContent pt-5">

        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="w-100" src="<%=order.image%>">
                </div>
                <div class="col-6">
                    <div class="order-box">
                        <h5 class=" text-uppercase">
                            Đặt Hàng Thành Công
                        </h5>
                        <span class="font-weight-bold">Sản phẩm: </span>
                        <p><a href="<%=order.url%>"><%=order.product%></a></p>
                        <span class=" font-weight-bold">Tên khách hàng: </span>
                        <p><%=order.name%></p>
                        <span class="font-weight-bold">Điện thoại: </span>
                        <p><%=order.phone%></p>
                        <span class="font-weight-bold">Địa chỉ: </span>
                        <p><%=order.address%></p>
                        <span class="font-weight-bold">Số lượng: </span>
                        <p><%=order.quatity%></p>

                    </div>
                </div>
            </div>


        </div>

        <div class="text-center my-5 py-4"><img src="/assets/img/divider.png" style="width: 100px;"></div>
        <% include ../partials/cam-ket %>

    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>