<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/menu %>
    <main class="mt-5 pt-5">
        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <section>
            <div class="container">
                <div class="row">
                    <%products.forEach(product => {
                            %>
                    <div class="col-9 col-sm-6 col-md-4 col-lg-3 col-xl-3 m-auto">
                        <a href="<%=product.url%>">
                            <div class="shadow"><img class="w-100 mb-4" src="<%=product.images[0]%>">
                                <h5 class="text-center textColor"><%=product.name%></h5>
                                <p class="text-center p-0 m-0 font-weight-bold"><%=product.name%></p>
                                <p class="text-center text-secondary oldPrice pb-4"><%=formatMoney(product.price,0)%>
                                </p>
                            </div>
                        </a>
                    </div>
                    <%
                        })%>
                </div>
            </div>
        </section>
        <div class="text-center my-5 py-4"><img src="assets/img/divider.png" style="width: 100px;"></div>
        <section data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="demon pb-4">
                            <div class="text-center"><img class="mb-2" style="width: 50px;"
                                    src="assets/img/Logo_Nau.png">
                                <h5>Nguồn Gốc Tổ Yến</h5>
                                <p class="text-justify">khai thác từ Hệ Thống Nhà Yến Công Nghệ Đá của công ty Yến Sào
                                    Đất Quảng....<br></p>
                            </div><img data-bs-hover-animate="bounce" class="w-100"
                                src="assets/img/nguon-goc-to-yen.jpg">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="demon pb-4">
                            <div class="text-center"><img class="mb-2" style="width: 50px;"
                                    src="assets/img/Logo_Nau.png">
                                <h5>Nguồn Gốc Tổ Yến</h5>
                                <p class="text-justify">khai thác từ Hệ Thống Nhà Yến Công Nghệ Đá của công ty Yến Sào
                                    Đất Quảng....<br></p>
                            </div><img data-bs-hover-animate="bounce" class="w-100" src="assets/img/gia-cong.jpg">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="demon pb-4">
                            <div class="text-center"><img class="mb-2" style="width: 50px;"
                                    src="assets/img/Logo_Nau.png">
                                <h5>Nguồn Gốc Tổ Yến</h5>
                                <p class="text-justify">khai thác từ Hệ Thống Nhà Yến Công Nghệ Đá của công ty Yến Sào
                                    Đất Quảng....<br></p>
                            </div><img data-bs-hover-animate="bounce" class="w-100" src="assets/img/giao-hang.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
    <% include ../partials/script%>
</body>

</html>