<section class="mb-4">
    <div class="container-fluid">
        <div class="row">

            <%if(posts[0]){%><div class="col p-0" data-aos="slide-right" data-aos-delay="50" style="background-image: url(<%=posts[0].images[0]%>);background-size: cover;background-position:
        center;">
                <a href="<%=posts[0].url%>">
                    <div class="d-flex justify-content-center align-items-center w-100 h-100"
                        style="background-color: rgba(0,0,0,0.5);">
                        <div data-bs-hover-animate="pulse" class="p-5">
                            <h2 class="text-white"><%=posts[0].name%></h2>
                            <p class="text-white"><%=posts[0].description%></p>
                        </div>
                    </div>
                </a>
            </div><%}%>

            

         <div class="col p-0">
                <div class="row w-100 m-0 p-0">
                        <%if(posts[1]){%>
            <div class="col p-0" data-aos="fade-down" data-aos-delay="100"><img class="w-100"
                    src="<%=posts[1].images[0]%>">
            </div>
            <div class="col p-0" data-aos="fade-left" data-aos-delay="150">
                <a href="<%=posts[1].url%>">
                    <div class="d-flex align-items-center h-100 w-100">
                        <div data-bs-hover-animate="pulse" class="p-4 text-justify">
                            <h4 class="textColor"><%=posts[1].name%></h4>
                            <p><%=posts[1].description%></p>
                        </div>
                    </div>
                </a>
            </div>
            <%}%>
                </div>
                <div class="row w-100 m-0 p-0">
                        <%if(posts[2]){%>
            <div class="col p-0 m-0" data-aos="flip-up" data-aos-delay="200">
                <a href="<%=posts[2].url%>">
                    <div class="d-flex justify-content-center align-items-center h-100 w-100">
                            <div data-bs-hover-animate="pulse" class="p-4 text-justify">
                                <h4 class="textColor"><%=posts[2].name%></h4>
                                <p class=""><%=posts[2].description%></p>
                            </div>
                    </div>
                </a>
            </div>
            <div class="col p-0" data-aos="fade-left" data-aos-delay="250"><img class="w-100"
                    src="<%=posts[2].images[0]%>">
            </div>
            <%}%>
                </div>
            </div>
     

    </div>
    <div class="row">

        <% if(posts[3]){%> <div class="col p-0" data-aos="fade-right" data-aos-delay="300">
                <a href="<%=posts[3].url%>">
                    <div class="d-flex align-items-center h-100 w-100">
                        <div data-bs-hover-animate="pulse" class="p-5 text-center">
                            <h1 class="textColor"><%=posts[3].name%></h1>
                            <p class=""><%=posts[3].description%></p>
                        </div>
                    </div>
                </a>
            </div><%}%>
     

    <%if(posts[3]){%> <div class="col p-0" data-aos="fade-left" data-aos-delay="400"><img class="w-100"
                    src="<%=posts[3].images[0]%>">
            </div><%}%>
  

    </div>
    </div>
</section>
