<% function formatMoney(n, c, d, t) { var c = isNaN(c = Math.abs(c)) ? 2 : c, d = d == undefined ? "." : d, t = t == undefined ? "," : t, s = n < 0 ? "-" : "", i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), j = (j = i.length) > 3 ? j % 3 : 0; return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : ""); }; %>

<section class="pb-5">
    <div class="container">
        <!-- <h3 class="text-center textColor pb-5 pt-2"><strong>Sản Phẩm</strong><br></h3> -->
        <div class="row">
            <%products.forEach(product => {
                    %>
            <div class="col-4 sm-4 col-md-3 col-lg-2 col-xl-2 p-1 m-auto">
                <a href="<%=product.url%>">
                    <div class="shadow"><img class="w-100 mb-4" src="<%=product.images[0]%>">
                        <p class="text-center textColor"><%=product.name%></p>
                        <p class="text-center p-0 pb-3 font-weight-bold"><%=formatMoney(product.price,0)%></p>
                       <!-- <p class="text-center text-secondary oldPrice pb-4"><%=formatMoney(product.price,0)%>
                        </p> --!>
                    </div>
                </a>
            </div>
            <%
                })%>

        </div>
    </div>
</section>
